# Pebble build artifacts
/build/
src/pkjs/config_page.js
.lock-waf_*
.lock-wscript

# Node modules
node_modules/

# OS/IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local server & build scripts
serve.js
*.pbw
